body {
  background-color: #000;
}
.contents-wrap {
  width: 1080px;
  margin: 0 auto;
  padding: 16px;
  font-weight: bold;
}
.contents-main {
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.prize-money {
  color: #fff;
  font-size: 24px;
}
.options {
  display: flex;
}
.question-text {
  position: relative;
  height: 64px;
  margin-bottom: 32px;
  clip-path: polygon(97% 0, 100% 50%, 97% 100%, 3% 100%, 0% 50%, 3% 0);
  background-color: rgb(36, 131, 255);
}
.question-text__inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: #000;
  clip-path: polygon(97% 0, 100% 50%, 97% 100%, 3% 100%, 0% 50%, 3% 0);
  color: #fff;
  font-size: 28px;
}
.question-text__inner__text {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}
.choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}
.modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 800px;
  min-height: 300px;
  padding: 20px;
  border-radius: 10px;
}
.modal-inner__title {
  margin-bottom: 16px;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.modal-inner__text {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.btn {
  position: relative;
  width: 320px;
  height: 64px;
  padding: 16px 32px;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  background-color: rgb(36, 131, 255);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.btn--small {
  width: 180px;
  height: 32px;
  font-size: 16px;
}
.btn--medium {
  width: 240px;
  height: 48px;
  font-size: 16px;
}
.btn--2-column {
  width: calc(50% - 8px);
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%, 5% 0);
}
.btn__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: #000;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
}
.btn--2-column .btn__inner {
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%, 5% 0);
}
.btn__inner:hover {
  background-color: #ff7707;
  color: #000;
  transition: .2s;
}
.btn__inner__text {
  white-space: nowrap;
}
.btn--text-left .btn__inner__text {
  position: absolute;
  left: 32px;
  transform: translateY(-50%);
}
.result-comment {
  font-size: 24px;
}

/* utilities */
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.justify-content-center {
  justify-content: center;
}
.align-center {
  text-align: center;
}
.position-relative {
  position: relative;
}
.v-hidden {
  visibility: hidden;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}